*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    
    background: #000;
    color: #ddd;
    font-family: monospace;
    font-size: 16px;
}

h1, h2{
    font-family: 'Geostar Fill', cursive;
}
h2{
    font-size : 32px;
    margin : 32px 0;
}

/*--------------------------------
        MAIN BLOCKS
--------------------------------*/

.main-wrapper{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.main-wrapper.outspread{
    /*height: auto;*/
}

.main-header{
    display: table;
    position: fixed;
    top: -64px;
    z-index : 200;
    
    width : 100%;
    height: 64px;
    
    background: #000;
    
    /* Transistions */
    -webkit-transition: top 0.5s ease;
       -moz-transition: top 0.5s ease;
        -ms-transition: top 0.5s ease;
         -o-transition: top 0.5s ease;
            transition: top 0.5s ease;
}
.main-wrapper.hasmenus .main-header{
    top : 0;
}

.main-header h1{
    display: table-cell;
    vertical-align: middle;
    min-width: 120px;
    padding : 12px;
}

.main-header .main-menu{
    display: table-cell;
    vertical-align: middle;
}

.game{
    position: absolute;
    top: 0;
    z-index : 100;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
}

.undergame{
    position: relative;
    z-index: 150;
    overflow: auto;
    height : 100vh;
    height: calc(100vh - 64px);
    margin-top : 100vh;
    
    background: #000;
    
    /* Transistions */
    -webkit-transition: margin 0.5s ease;
       -moz-transition: margin 0.5s ease;
        -ms-transition: margin 0.5s ease;
         -o-transition: margin 0.5s ease;
            transition: margin 0.5s ease;
}
.main-wrapper.outspread .undergame{
    margin-top : 64px;
}
.undergame.slideDown-done{
    visibility: hidden;
}

.main-footer{
    width: 100%;
    height: 48px;
    
    background: rgba(0,255,255,0.2);
    
    /* default values */
    visibility: hidden;
}

/*--------------------------------
        MAIN MENU ITEMS
--------------------------------*/

.main-menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-menu ul>li{
    margin: 0;
    padding: 0;
    float : left;
}

.main-menu ul>li>a{
    display: block;
    padding : 8px;
    
    font-size : 20px;
    color : #41dae9;
    cursor : pointer;
}

.main-menu ul>li>a:hover, .main-menu ul>li>a.toggled:hover{
    background: #ea8014;
    color : #000;
}

.main-menu ul>li>a.toggled{
    background: #444;
}

/*--------------------------------
        OVERLAY BLOCKS
--------------------------------*/

.overlay-box-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100vw;
    height: 100vh;
    
    padding: 100px;
}


.overlay-box{
    width: 100%;
    height: 100%;
    overflow: auto;
    
    padding : 12px;
    
    background: rgba(0,0,0,0.7);
    
    /* default values */
    visibility: visible;
}

/*--------------------------------
        KUTINGO
--------------------------------*/

#glrenderer{
    display: inline-block;
    margin : auto;
    vertical-align: middle;
}

/*--------------------------------
        SCROLL INDICATOR
--------------------------------*/

.scroll-indicator{
    position: absolute;
    bottom : -64px;
    z-index : 150;
    width: 100%;
    height: 64px;
    
    background: rgba(0,0,0,0.7);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

    
    /* Transistions */
    -webkit-transition: margin 0.5s ease, bottom 0.5s ease;
       -moz-transition: margin 0.5s ease, bottom 0.5s ease;
        -ms-transition: margin 0.5s ease, bottom 0.5s ease;
         -o-transition: margin 0.5s ease, bottom 0.5s ease;
            transition: margin 0.5s ease, bottom 0.5s ease;
}
.scroll-indicator.slideDown-done{
    visibility: hidden;
}
.main-wrapper.hasmenus .scroll-indicator{
    bottom : 0px;
}
.main-wrapper.outspread .scroll-indicator{
    margin-bottom : -64px;
    bottom : 100vh;
}

.downarrow{
    width : 0; height : 0;
    border : solid transparent 48px;
    border-bottom : none;
    border-top-color: #000;
    margin : auto;
    
}

.uparrow{
    width : 0; height : 0;
    border : solid transparent 48px;
    border-top : none;
    border-bottom-color: #ea8014;
    margin : auto;
    
}

.orange{
    color : #ea8014;
}
.blue{
    color : #41dae9;
}

.tablestream{
    display: table;
    width : 100%;
    margin : 32px 0;
}
.tablestream>*{
    display: table-cell;
}

/*--------------------------------
        COLUMNS
--------------------------------*/

.columnwrapper{
    clear : both;
}

.columncenter{
    padding : 40px;
    overflow : hidden;
}

.columnleft{
    width : 33.3%;
    float : left;
    padding : 40px;
}

.columnright{
    width : 33.3%;
    float : right;
    padding : 40px;
}



/*--------------------------------
        HUD
--------------------------------*/

.HUDscore{
    font-family: 'Geostar Fill', cursive;
}

.HUDbigscore{
    font-size : 200px;
    text-shadow : #fff 0px 0px 20px, #fff 0px 0px 50px;
    padding-top : 64px;
    line-height : 200px;
    height : 40%;
}

#inputPseudo{
    display : block;
    margin : 20px auto;
    width : 20%;
    min-width: 200px;
    height : 40px;
    font-size : 30px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    border : solid 4px #111;
    color : #ea8014;
}


/*--------------------------------
        LEADERBOARD
--------------------------------*/

.leaderboards h2{
    width : 90%;
}

#refresh_leaderboard{
    text-align: right;
    color : #ea8014;
    background: #000;
    border : none;
    cursor : pointer;
}
#refresh_leaderboard:hover{
    color : #000;
    background : #41dae9;
}
#refresh_leaderboard:active{
    background : #ea8014;
}

#leaderboard_wrapper ul{
    list-style-type: none;
    margin : 0;
    padding : 0;
}
#leaderboard_wrapper>ul>li{
    margin : 0;
    padding : 0;
}
#leaderboard_wrapper>ul>li>ul{
    font-size : 32px;
    line-height: 48px;
    padding : 8px;
    clear: both;
    font-family: 'Geostar Fill', cursive;
}
#leaderboard_wrapper>ul>li>ul>li:first-child{
    color : #ea8014;
    float : left;
    word-wrap: break-word;
}
#leaderboard_wrapper>ul>li>ul>li:last-child{
    color : #41dae9;
    text-align : right;
    word-wrap: break-word;
}
#leaderboard_wrapper>ul>li:nth-child(2n+1){
    background: #111;
}




/*--------------------------------
        MEDIA QUERIES
--------------------------------*/

@media(max-height:640px){
    
    .HUDbigscore{
        font-size : 60px;
        padding-top : 64px;
        line-height : 60px;
        height : 40%;
    }
    
}

@media(max-width:1600px){
    
    #leaderboard_wrapper>ul>li>ul{
        font-size : 24px;
        line-height: 32px;
        padding : 6px;
    }
    
}

@media(max-width:1300px){
    
    .columnleft{
        width : 40%;
    }
    
    .columnright{
        float : left;
        clear : left;
        width : 40%;
    }
    
}

@media(max-width:800px){
    
    .columnleft{
        float : none;
        width : auto;
    }
    
    .columnright{
        float : none;
        width : auto;
    }
    
}

